@model IEnumerable<GerenciamentoBancasTcc.Domains.Entities.Equipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banca.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
