@model GerenciamentoBancasTcc.Domains.Entities.Banca

@{
    ViewData["Title"] = "Upload Arquivos";
}

<div>
    <a asp-action="Index" style="text-decoration: none; color: #EEA084;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg> Voltar para lista
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="message" class="d-none" role="alert"></div>
                <div class="card" style="border: solid 2px #e5e5e5;">
                    <div class="card-header text-center" style=" background-color: #94DDDE; color: #fff; font-size: 18px">
                        <b>Anexar Documentação</b>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.TurmaId)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Turma.Nome)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Tema)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Tema)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.UsuarioId)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Usuario.Nome)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DataHora)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DataHora)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Descricao)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Descricao)
                            </dd>
                        </dl>
                        <form action="/Banca/UploadImagem" enctype="multipart/form-data" method="post">
                            <input type="file" class="btn btn-sm" name="arquivos" accept="application/pdf" required/>
                            <br />
                            <input type="hidden" name="bancaId" value="@Model.BancaId" />
                            <br />
                            <button class="btn btn-sm btn-primary">Anexar</button>
                        </form>
                        @*<br />
                        <form action="/Banca/EnviarConvite" enctype="multipart/form-data" method="get">
                            <button type="submit" class="btn btn-sm btn-primary">Convidar</button>
                        </form>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
</div>