@model GerenciamentoBancasTcc.Domains.Entities.Filial

@{
    ViewData["Title"] = "Detalhes";
}

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card" style="border: solid 2px #2B4B82;">
                <div class="card-header text-center" style=" background-color: #94DDDE; color: #fff; font-size: 18px">
                    <b>Detalhes da Filial</b>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Campus)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Campus)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cnpj)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cnpj)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Telefone)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Telefone)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Endereco)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Endereco)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ativo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ativo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Instituicao)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Instituicao.Nome)
                        </dd>
                    </dl>

                    <a asp-action="Edit" asp-route-id="@Model.FilialId" class="btn btn-primary stretched-link">Editar</a>

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>