@model IEnumerable<GerenciamentoBancasTcc.Domains.Entities.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipe.EquipeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlunoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlunoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlunoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
