@model GerenciamentoBancasTcc.Domains.Entities.Usuario

@using (Html.BeginForm(null, null, FormMethod.Post, new { data_toggle = "validator", role = "form" }))
{
    @Html.HiddenFor(m => m.Id)
    if (ViewBag.StatusMessage != null)
    {
        <div class="alert alert-@string.Format("{0}", (bool)ViewBag.Succeeded ? "success" : "danger")" role="alert">
            <span>@ViewBag.StatusMessage</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div>
        <a asp-action="Index" asp-controller="Usuario"><i class="fa-solid fa-circle-arrow-left"></i> Voltar para lista</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card" style="border: solid 2px #e5e5e5;">
                    <div class="card-header text-center" style=" background-color: #94DDDE; color: #fff; font-size: 18px">
                        <b>Editar Usuário</b>
                    </div>
                    <div class="card-body">

                        <div class="alert alert-warning" role="alert">
                            Tem certeza que deseja editar as informações do usuário?
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.UserName, "Usuário")
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", disabled = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Nome)
                                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Ativo)
                                <div class="custom-control custom-switch">
                                    @Html.CheckBoxFor(m => m.Ativo, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="Ativo"></label>
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Salvar" class="btn btn-primary" />

                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}